@import "tailwindcss";

:root {
  --background-color: #e8d5b7;
  --primary-color: #1b2b49;
  --button-color: #0e2a47;
}

@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px); /* subtle bounce distance */
  }
}

.animate-slow-bounce {
  animation: slowBounce 4s ease-in-out infinite; /* slower & smoother */
}

.playfair {
  font-family: var(--font-playfair), serif;
}
