@import "tailwindcss";

:root {
  --background-color: #0a0f1c;
  --primary-color: #9fb2b8;
  --button-color: #b0985e;
  --title: #b49960;
  --text: #9ca3af;
}

@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px); /* subtle bounce distance */
  }
}

.animate-slow-bounce {
  animation: slowBounce 4s ease-in-out infinite; /* slower & smoother */
}

.playfair {
  font-family: var(--font-playfair), serif;
}

.montserrat {
  font-family: var(--font-montserrat), serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
