@import "tailwindcss";

:root {
  --background-color: #0a0f1c;
  --primary-color: #9fb2b8;
  --button-color: #b0985e;
  --title: #b49960;
  --text: #9ca3af;
  --whatsapp: #ecf2f4;
}

@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px); /* subtle bounce distance */
  }
}

.animate-slow-bounce {
  animation: slowBounce 4s ease-in-out infinite; /* slower & smoother */
}

.playfair {
  font-family: var(--font-playfair), serif;
}

.montserrat {
  font-family: var(--font-montserrat), serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
